@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.cdnfonts.com/css/lucida-calligraphy-new");
                
@layer base {
  html {
    font-family: 'Lucida Sans', sans-serif;
  }
}

@font-face {
  font-family: "Lucida Calligraphy Regular";
  src: url("/public/efbd8f0d869bf61fbe0f139a1602cda8.eot"); /* IE9*/
  src: url("/public/efbd8f0d869bf61fbe0f139a1602cda8.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("/public/efbd8f0d869bf61fbe0f139a1602cda8.woff2") format("woff2"), /* chrome、firefox */
  url("/public/efbd8f0d869bf61fbe0f139a1602cda8.woff") format("woff"), /* chrome、firefox */
  url("/public/efbd8f0d869bf61fbe0f139a1602cda8.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("/public/efbd8f0d869bf61fbe0f139a1602cda8.svg#Lucida Calligraphy W01") format("svg"); /* iOS 4.1- */
}

